Xft.autohint: 0
Xft.antialias:	1
!Xft.dpi:	96
Xft.dpi:	192
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:	rgb

*face: Output Sans Testing
*faceName: Output Sans Testing
*faceSize: 10
XClock*face: Ouput Sans Testing
URxvt*transparent: false
URxvt*saveLines: 100000
URxvt*foreground: #282828
URxvt*background: #eeeeee
URxvt*font: xft:Input:pixelsize=12
URxvt*boldFont: xft:Input Bold:pixelsize=12
URxvt*scrollBar: false
URxvt*scrollBar_right: true
URxvt*scrollstyle: rxvt
XTerm*faceName: Input
XTerm*faceSize: 10
