[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/home/mkarmona/opt/idea/bin/idea.png
# Exec=env GDK_SCALE=2 "/home/mkarmona/opt/idea/bin/idea.sh" %f
Exec="/home/mkarmona/opt/idea/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
